@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,700;1,300;1,400&display=swap");

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::after {
    content: "";
    background-image: url("homenzinho.png.png");
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 40%;
}

body {
    transition: background-color 0.5s ease;
    margin: 0;
    padding: 0;
}

header, main, footer {
    color: #333;
}

.dark-mode,
.dark-mode h1,
.dark-mode h4 {
    background-color: #333;
    color: #fff;
}



header {
    background-color: #83ffbc87;
}

ul {
    list-style: none;
    display: flex;
    float: right;
    margin: auto 0;
}

li {
    font-size: 16px;
    margin: 0 120px;
    padding: 10px;
    border-radius: 8px;
    background-color: #05aa5187;
    margin-top: 20px;
}

.imagem-logo {
    margin-top: 20px;
}

.imagem-logo button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #f0f0f087;
    margin-inline: 40px;
    max-width: 60px;
    max-height: 60px;

}

.imagem-logo button img {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

li:hover {
    background-color: #08311b87;
    
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 10%;
}

.imagem-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-logo img {
    width: 25%;
    height: 25%;
    margin: 0 auto;
}

img {
    width: 80px;
    height: 80px;
    margin-inline-start: 40px;
}

h1,
h4 {
    text-align: center;
    margin: 2%;
    color: black;
}

.postos-coleta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    margin: 0 3% 0 3%;
    line-height: 32px;
    text-align: center;
}

.objetivos button {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.982);
    padding: 8px;
    margin: 25px auto 70px;
    cursor: pointer;
    border: 1px solid #08311b87;
}

button:hover {
    background-color: #08311b87;
}

footer {
    background-color: #83ffbc87;
    color: black;
    text-align: center;
    padding: 10px 0;
    position: bottom;
    margin-top: 80px;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialmedia img {
    margin-top: 10px;
    margin-inline: 10px;
    width: 28px;
    height: 28px;

}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    li {
        margin: 10px 0;
    }

    h1,
    h4 {
        margin: 40px 0;
    }
    .imagem-logo img {
        width: 80%;
        display: flex;
        justify-content: center;

    }

    body::after {
        content: "";
        background-image: url("homenzinho.png.png");
        opacity: 0.4;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: fixed;
        z-index: -1;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%;
    }
}